.root {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    width: 500px;
    background-color: white;
    :global {
        img {
            margin: 0 auto;
            height: 200px;
            width: 180px;
            border: 1px solid rgb(201, 201, 201);
            border-radius: 10px;
        }
    }
}